@model  List<ivt_test.Models.QueryWithEmailResult>

@{
    ViewBag.Title = "Güncellemeleri Okunmuş Kayıtlar";
}

<h3>Güncellemeleri Okunmuş Kayıtlar</h3>
<hr />

<br />
<br />
<table class="table table-bordered">
    <tr><th>email</th><th>recordId</th><th>firstName</th><th>lastName</th><th>createdAt</th><th>updatedAt</th><th></th></tr>
    <tbody>
        @if (Model != null)
        {
            foreach (var coll in Model)
            {
                <tr>
                    <td>@coll.email</td>
                    <td>@coll.recordId</td>
                    <td>@coll.firstName</td>
                    <td>@coll.lastName</td>
                    <td>@coll.createdAt</td>
                    <td>@coll.updatedAt</td>
                    <td>@Html.ActionLink("EmailDetails", "Details", new { /* id=item.PrimaryKey */ })</td>


                </tr>
            }
        }
    </tbody>
</table>
